@import 'styles/variables.scss';

.spinner {
  width: 80px;
  margin: 0 auto 1rem;
  text-align: center;

  @media (min-width: $breakpoint-small) {
    width: 160px;
    margin-bottom: 0rem;
  }

  stroke: $text-color;
  fill: $text-color;

  svg {
    width: 100%;
    height: 100%;
  }
}
