@import 'styles/variables.scss';

.app-help-modal {
  z-index: 102;
}

.app-help {
  display: block;
  max-width: $breakpoint-small * 0.8;
  margin: 3em auto;

  animation: mic-drop 0.75s;

  color: #fff;

  p {
    color: rgba(255, 255, 255, 0.95);

    strong {
      color: #fff;
    }
  }
}

.app-help__buttons {
  margin: 2em 0;
}

.scope-list li {
  font-weight: bold;
}

.app-help__logo {
  text-align: left;
}

.back-button {
  color: #fff;
  font-weight: bold;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 0.5rem 1rem;

  cursor: pointer;

  .icon {
    margin: 0 2px 0 -2px;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &:active {
    transform: translate3d(0, 1px, 0);
  }
}
