@import 'styles/variables.scss';

.login {
  text-align: left;
  padding: 0 2em;
  background: $brand-dark;

  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.login__title {
  color: #eee;
  opacity: 0.9;
  margin: 0 0 5vh;
  padding: 0;
  text-align: center;
  font-size: 3vmax;

  @media (min-width: $breakpoint-medium) {
    font-size: 5vh;
  }
}

.login__app-icon {
  font-size: 6vh;
  color: #fff;
  font-weight: 900;
  z-index: 99;
  opacity: 0.9;
  display: block;
  text-align: center;
  position: relative;
  right: -1.5vh;

  @media (min-width: $breakpoint-medium) {
    font-size: 10vh;
  }
}

.login__app-icon__dot {
  color: $spotify-green;
}

.login__content {
  position: relative;
  z-index: 2;
  width: 100%;
  text-align: center;

  .btn-link {
    text-align: center;
  }
}

.login__background {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  // background: url('https://images.unsplash.com/photo-1483412033650-1015ddeb83d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1900');
  background: linear-gradient(
      180deg,
      rgba(black, 0) 0,
      rgba(black, 0.45) 10%,
      rgba(black, 0.75) 100%
    ),
    url('https://images.unsplash.com/photo-1544734268-37a548d914e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1900');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-wrap: wrap;
  opacity: 1;
}

.login__background__image {
  width: 20vw;
  height: 20vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-login {
  animation: mic-drop 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.spotifyLogo {
  width: 30px;
  height: auto;
  margin-right: 1rem;
  color: $spotify-green;
  margin-left: -15px;
}

@media (min-width: $breakpoint-small - 1) {
  .login__content {
    max-width: $breakpoint-medium;
    margin: 0 auto;
  }
}

@media (max-width: $breakpoint-small) and (orientation: landscape) {
  .login__content {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 15%;
    overflow-y: auto;
  }
  .login__title {
    margin-bottom: 10vh;
  }
}

@media (min-width: $breakpoint-small) and (orientation: landscape) {
  .login__title {
    margin: 0 0 10vh;
  }
}
