@import 'styles/variables.scss';

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 90vh;
  padding: 2vh;
  text-align: center;

  h2 {
    font-size: 1.25em;
    color: #fffdea;
    text-align: center;

    @media (min-width: $breakpoint-small) {
      font-size: 2em;
    }
  }

  .spinner {
    width: 50px;
    margin-bottom: 1rem;

    @media (min-width: $breakpoint-small) {
      width: 100px;
      margin-bottom: 0rem;
    }

    // stroke: #fffdea;
    // fill: #fffdea;

    // svg {
    //   width: 10vmax;
    //   height: 10vmax;
    // }
  }
}
