@import '../../styles/variables.scss';
@import '../../styles/animations.scss';

.modal {
  background: linear-gradient(35deg, #ffa17f, #00223e);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;

  overflow-y: auto;
}

.modal__content {
  background: transparent;

  position: absolute;
  left: 0em;
  right: 0em;
  top: 0em;
  bottom: 0em;
  padding: 1.5em;
  overflow-y: auto;
  border-radius: 10px;
}

@media (min-width: $breakpoint-medium) {
  .modal {
    align-items: center;
  }

  .modal__content {
    position: static;
    max-width: 60vw;
    margin: 0 auto;
    padding: 1.5em 2em 2em;
  }
}
